// add persian font ==> dana
@font-face {
  font-family: "Dana";
  src: url("../Fonts/dana.ttf") format("truetype");
  font-family: "Dana-Bold";
  src: url("../Fonts/dana-bold.ttf") format("truetype");
}
// css rest
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Dana";
}

// import sass files
@import "./Home.scss";
