// card_product componet
.card_product {
  width: 19rem;
  height: 25rem;
  margin: 10px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 12px rgba($color: #ff6962, $alpha: 0.2);
  transition: all 0.5s ease;
  position: relative;

  &:hover,
  &:focus {
    transform: scale(1.04);
    .card_product_price {
      opacity: 1;
    }
  }

  &_img {
    width: 17rem;
    height: 17rem;
    transition: all 0.7s ease;
    border-radius: 15%;
  }

 
}
.home {
  height: 100vh;
  &_cart {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
.card_product_price {
  font-family: "Dana-Bold";
  font-size: 1em;
  padding: 0.4rem;
  color: #ff6962;
  margin-top: 30px;
  opacity: 0;
}
.card_product_discount {
  font-family: "Dana-Bold";
  width: 5rem;
  height: 4rem;
  font-size: 1.9em;
  padding: 0.4rem;
  border: 2px #30336b solid;
  color: #30336b;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 100px;
}
.btn_i {
  margin: 0px 5px;
  justify-content: center;
  align-self: center;
  text-align: center;

  &_item {
    width: 1rem;
    height: 1rem;
  }
}
