// Card
.card {
  width: 19rem;
  height: 25rem;
  margin: 10px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px  2px 12px rgba($color: #ff6962, $alpha: 0.2);
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    transform: scale(1.04);
  }

  &_img {
    width: 17rem;
    height: 17rem;
    transition: all 0.7s ease;
    position: relative;
    border-radius: 15%;
  }
  p {
    font-family: "Dana-Bold";
    font-size: 1.9em;
    padding: 0.4rem;
    border: 2px #ff6962 solid;
    color: #ff6962;
    border-radius: 50%;
    position: absolute;
    margin: 7px 11px 0 0;
    top: 0;
    right: 0;
  }

  button {
    margin-top: 20px;
  }
}
.home {
  height: 100vh;
  &_cart {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
